<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="http://sssg-rapando.vercel.app" />
    <link rel="stylesheet" href="public/styles.css" />
    <title><!--TITLE--></title>
    <script defer type="module" src="dist/templates/home/script.js"></script>
  </head>
  <body class="generated">
    <nav>
      <li class="basic-links"></li>
      <div class="side-menu">
        <header>
          <h1>Menu</h1>
          <button class="close-menu">&times;</button>
        </header>
        <hr />
        <div class="article-links">
          <header>
            <h3>Articles</h3>
          </header>
        </div>
        <hr>
        <div class="generated-site-controls">
          <header>
            <h3>Generated Site Options</h3>
          </header>
          <a class="download-link" href="http://sssg-rapando.vercel.app/download">
            Download Site
          </a>
        </div>
      </div>
      <button class="side-menu-toggler"><div></div></button>
    </nav>
    <!--CONTENT-->
  </body>
</html>
