* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --border-radius: 8px;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1em;
  justify-items: center;
  align-items: center;
}

iframe {
  display: none;
  height: 30em;
  width: 80%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 0.5em;
  background-color: lightgrey;
  border-radius: var(--border-radius);
  list-style-type: none;
}

input {
  padding: 0.5em;
  border: 1px solid black;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

table {
  /* width: 80%; */
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  text-align: center;
  height: 100px;
  width: 100px;
  vertical-align: middle;
}
th {
  background-color: lightgrey;
  /* vertical-align: middle; */
}

.home {
  cursor: pointer;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

.home:hover {
  color: #989898;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1em;
  width: 50%;
}

:not(blockquote) p {
  width: 80%;
  background-color: lightgrey;
  color: black;
  padding: 1em;
  border-radius: var(--border-radius);
}

a:not(.home) {
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: #989898;
  color: black;
  padding: 0.3em;
  border-radius: 8px;
  width: fit-content;
}

a:not(.home):hover {
  background-color: rosybrown;
  color: white;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
  transition: all ease-in-out 150ms;
}

a:has(img){
  background-color: transparent !important;
}
a img{
  border-radius: var(--border-radius);
}
a img:hover{
  opacity: 0.8;
}

.dragArea {
  cursor: pointer;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 30em;
  aspect-ratio: 1/1;
  transition: all ease-in-out 150ms;
}

.dragArea span {
  font-size: 1.5em;
}
