<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="http://127.0.0.1:3000/public/styles.css" />
    <script
      defer
      type="module"
      src="http://127.0.0.1:3000/dist/templates/error/script.js"
    ></script>
  </head>
  <body>
    <li class="basic-links">
      <a href="http://127.0.0.1:3000/dist/templates/home/home.html">Home</a>
    </li>
    <h1>Page Not found</h1>
  </body>
</html>
