<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="https://sssg-rapando.onrender.com/" />
    <link rel="stylesheet" href="public/styles.css" />
    <title>404</title>
    <script defer type="module" src="./script.js"></script>
  </head>
  <body>
    <div
      style="
        font-size: 5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
      "
    >
      <div style="display: flex; flex-direction: column">
        <span style="font-size: 10rem"> 404 </span>
      </div>
      <a
        style="justify-content: center; width: fit-content; align-self: center"
        href="https://sssg-rapando.onrender.com/"
        >SSSG Home</a
      >
    </div>
  </body>
</html>
