<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><!--TITLE--></title>
    <link rel="stylesheet" href="https://sssg-rapando.onrender.com/public/styles.css" />
    <script defer type="module" src="https://sssg-rapando.onrender.com/dist/templates/articles/script.js"></script>
  </head>
  <body class="generated">
    <nav>
      <li class="basic-links">
      </li>
      <div class="mobile-nav-links-menu">
        <button class="close-menu">&times;</button>
        <div class="article-links"></div>
      </div>
      <button class="mobile-nav-links-toggler"><div></div></button>
    </nav>
    <!--CONTENT-->
  </body>
</html>
